@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html{
    scroll-behavior: smooth;
}
 body{
    background-color: black;
}
/*hamburger menu*/
.hamburger{
    display: none;
    cursor: pointer;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    background-color: white;
}
.header-list.hello{
    display: flex;
}
.logo{
    color: white;
    margin-left: 2rem;
    font-family: 'Pacifico', cursive;
}
.header-list{
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style: none;
    margin-right: 4rem;

}
.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
a {
    text-decoration: none;
}
.nav-link{
    color: white;
    font-family: 'Pacifico', cursive;
}
.nav-item .nav-link:hover{
    color: white;
    font-size: 150%;
}

.img-section{
    width: 100%;
    height: 675px;
    border-radius: 100px;
}
.container{
    position: relative;
    
}
.container ::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top,#1c0522,#fff);
    z-index: 1000;
}
p{
    color: white;
}
.border-container{
    border: 4px solid white ;
    margin: 20px 40px;
    margin-top: 8px;
    border-radius: 100px;
}
.about-img{
    padding-left: 130px;
}
.about-img img{
    width: 60%;
    height: auto;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgb(77, 76, 76);
}
.about{
    height: 500px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    background-color: white;
    margin: 40px;

}
@media only screen and (max-width:600px) {
    .about-img{
        padding-left: 2px;
    }
    .about-text{
        color: black;
        overflow-wrap: normal;
        padding-right: 4px;
    }
    .about-about{
        color: white;
        font-family: 'Alkatra', cursive;
    }
    .about-about h1{
        color: black;
        padding: 0 30%;
        font-size: 12px;
    }
    .about-para p{
        font-size: 12px;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: grey;
    }
    .button-cv{
        height: 60px;
        width: 100px;
        border: none;
        font-size: 10px;
        font-family: 'Alkatra', cursive;
        border-radius: 30px;
        background: black;
        white-space: nowrap;
    }
    .button-style{
        height: 60px;
        width: 100px;
        background:black;
        transition: width 0.8s;
        border-radius: 30px;
    }
    #btn-hover{
        transition-timing-function: linear;
    }
    .button-style:hover{
        width: 200px
    }
    .button-style a{
        color: yellowgreen;
        padding-left: 10px;
    }
}
@media only screen and (min-width: 600px){
    .about-text{
        color: black;
    }
    .about-about{
        color: white;
        font-family: 'Alkatra', cursive;
    }
    .about-about h1{
        color: black;
        padding: 0 30%;
        font-size: 40px;
    }
    .about-para p{
        font-size: 1.8rem;
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: grey;
    }
    .button-cv{
        height: 60px;
        width: 100px;
        border: none;
        font-size: 30px;
        font-family: 'Alkatra', cursive;
        border-radius: 30px;
        background: black;
        white-space: nowrap;
    }
    .button-style{
        height: 60px;
        width: 100px;
        background:black;
        transition: width 0.8s;
        border-radius: 30px;
    }
    #btn-hover{
        transition-timing-function: linear;
    }
    .button-style:hover{
        width: 200px
    }
    .button-style a{
        color: yellowgreen;
        padding-left: 10px;
    }

}
@media only screen and (max-width:700px){
    .tech-details{
        margin:0px 40px ;
    }
}
@media only screen and (min-width: 700px){
    .tech-details{
        margin: 0px 100px;
    }
}
.tech-details{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 300px;
    align-items: center;
    border-radius: 100px;
}
.tech-details img{
    margin: auto;
}
@media only screen and (max-width: 600px){
    .tech-details p{
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 600px){
    .tech-details p{
        font-size: 1.6em;
    }
}
.tech-details p{
    color: black;
    text-align: center;
}
@media only screen and (min-width:600px){
    .html-logo{
        height: 120px;
        width: auto;
    }
    .css-logo{
        height: 120px;
        width: auto;
    }
    .JS-logo{
        height: 120px;
        width: auto;
    }
    .mysql-logo{
        height: 133px;
        width: auto;
        
    }
    .linux-logo{
        height: auto;
        width: 188px;
    }
    .git-logo{
        height: 126px;
        width: auto;
    }
    .react-logo{
        height: 129px;
        width: auto;
    }
}
@media only screen and (max-width:600px){
    .html-logo{
        height: 70px;
        width: auto;
    }
    .css-logo{
        height: 70px;
        width: auto;
    }
    .JS-logo{
        height: 70px;
        width: auto;
    }
    .mysql-logo{
        height: 70px;
        width: auto;
        
    }
    .linux-logo{
        height: auto;
        width: 100px;
    }
    .git-logo{
        height: 70px;
        width: auto;
    }
    .react-logo{
        height: 70px;
        width: auto;
    }
}  

.tech-details .prev_arrow{
    color: grey;
    width: 50px;
    height: 40px;
    padding: 20px 20px 0px 20px;
    border-radius: 60%;
    background: white;
    cursor: pointer;
}
.tech-details .next_arrow{
    color: grey;
    width: 50px;
    height: 40px;
    padding: 20px 20px 0px 20px;
    border-radius: 60%;
    background: white;
    cursor: pointer;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .header-list{
        position: fixed;
        right: -100px;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.8s;
        display: none;
        z-index: 1;
    }
    .nav-link{
        color: black;
    }
    .nav-item .nav-link:hover{
        color: black;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 0;
    }
}
@media only screen and (min-width: 600px){
    .container-word{
        position: absolute;
        top: 14%;
        left: 5%;
    }
    h2, h3, h4{
        margin: auto;
    }
    }
    @media only screen and (max-width: 600px){
        .container-word{
            position: absolute;
            color: white;
            /*font-family: 'Pacifico', cursive;*/
            font-family: 'Nunito Sans', sans-serif;
            font-size: 3vh;
            left: 45%;
            transform: translate(-50%, -50%);
            top: 50%;
        }
        h2, h3, h4{
            margin: auto;
        }
    }